<html>
  <head>
    <title>Keystroke</title>
    <link href="/bots.css" rel="stylesheet" />
    <script src="/bots.js" defer></script>
  </head>
  <body>
    <header></header>
    <main>
      <div class="spacer"></div>
      <div class="category static">
        <div class="option">
          <label class="btnlabel">Swear Filter</label>
          <label class="switch">
            <input type="checkbox" class="swearfilter" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="category hidden">
        <p>
          hi, i'm a hidden category
        </p>
      </div>
      <div class="category shown">
        <p>
          hi, i'm a shown category
        </p>
      </div>
      <div class="spacer"></div>
    </main>
    <footer></footer>
  </body>
</html>
