.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B22222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #228B22;
}

input:focus + .slider {
  box-shadow: 0 0 1px #228B22;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btnlabel {
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 5px;
  padding-right: 15px;
}

.option {
  margin-left: 25px;
}

.category {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: lightgray;
  margin-right: 200px;
  margin-left: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

main {
  background-color: gray;
  margin-right: 150px;
  margin-left: 150px;
  padding-bottom: 45%;
}

.spacer {
  padding-top: 25px;
  padding-bottom: 25px;
}

@keyframes cateExpand {
  0% {
    display: none;
    height: 0%;
    font-size: 0px;
    color: lightgray;
    padding: 0px;
  }
  50% {
    width: inherit;
  }
  100% {
    display: inherit;
    height: inherit;
    font-size: inherit;
    color: inherit;
  }
}

@keyframes cateCollapse {
  100% {
    display: none;
    width: 0%;
    font-size: 0px;
  }
  50% {
    height: 0%;
    font-size: 0px;
    color: lightgray;
  }
  0% {
    display: inherit;
    height: inherit;
    font-size: inherit;
    color: inherit;
    padding: 0px;
  }
}

.hidden {
  animation: cateCollapse 4s;
  animation-fill-mode: forwards;
}

.shown {
  animation: cateExpand 4s;
  animation-fill-mode: forwards;
}