body {
  background-color: black;
  color: white;
  text-align: center;
}

footer {
  margin-top: 25px;
}

a {
  text-decoration: none;
}

div {
  margin-right: 25px;
  margin-left: 25px;
  display: inline-block;
}

#btn_bots {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}